{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Phone settings</h1>
            <form class="form" method="POST" action="" role="form">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.phoneEnabled.label }} {{ form.phoneEnabled }} &nbsp; <input class="btn btn-primary" type="submit" value="Update">
                </div>
            </form>
        </div>
    </div>
    {% include "security/_menu.html" %}
{% endblock %}
