/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  /* Increase by footer height */
  margin-bottom: 45px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Chosen modifications to match Bootstrap style */
.chosen-single, .chosen-default {
  height: 34px !important;
  width: 100% !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.chosen-single > span {
    font-size: 14px !important;
    padding: 6px 4px !important;
    line-height: 1.42857143;
  }

.chosen-container {
  width: 100% !important;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}